@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@700;800;900&display=swap");

.LoginBackgroundColor {
  background: linear-gradient(90deg, rgb(0, 0, 0, 0.92) 10%, rgb(0, 0, 0, 0.65)),
    url("./background.jpg");
  width: 198.9vh;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
}
.LoginLogo {
  width: 400px;
  position: absolute;
  left: 3%;
  top: 3%;
}

.LoginBackgroundColor h1 {
  font-family: Coiny;
  width: 400px;
  position: absolute;
  left: 2%;
  top: 1%;
  font-size: 55px;
  background-clip: text;
  color: #c51d34;
}
.BackgroundBlack {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 100%;
  border: solid 3px;
  border-image-source: linear-gradient(90deg, black, red, black);
  border-image-slice: 1;
}
.LoginBackgroundColor h2 {
  font-family: poppins;
  font-weight: 800;
  width: 600px;
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 55px;
  background-clip: text;
  color: #fff;
}
.LoginBackgroundColor h4 {
  font-family: poppins;
  font-weight: 300;
  width: 600px;
  position: absolute;
  left: 10%;
  top: 465px;
  font-size: 20px;
  background-clip: text;
  color: #fff;
}
.LoginBackgroundColor h5 {
  font-family: poppins;
  font-weight: 100;
  width: 600px;
  position: absolute;
  left: 10%;
  top: 500px;
  font-size: 10px;
  background-clip: text;
  color: #fff;
}
